<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <title>lista de Empleados</title>
    </head>
    <body class="container">
        <h2>Lista de Empleados</h2>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/employee/new'}">Nuevo Empleado</a>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
        <table class="table table-sm">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Trabajo</th>
                <th>Salario</th>
                <th>Jefe</th>
                <th>Departamento</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="employee, info : ${listaEmp}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="|${employee.firstName} ${employee.lastName}|">
                <td th:text="${employee.email}">
                <td th:text="${employee.phoneNumber}">
                <td th:each="job : ${listaJobs}" th:if="${job.jobId == employee.jobId}" th:text="${job.jobTitle}">
                <td th:text="${employee.salary}">
                <td th:text="${employee.managerId==null?'No tiene jefe':employee.managerId}">
                <td th:each="depa : ${listaDepa}" th:if="${depa.departmentId == employee.departmentId}" th:text="${depa.departmentName}">
                <td><a class="btn btn-primary" th:href="@{'/employee/edit' + '?id=' + ${employee.employeeId}}">Editar</a></td>
                <td><a class="btn btn-danger" th:href="@{'/employee/delete' + '?id=' + ${employee.employeeId}}">Borrar</a></td>
            </tr>
        </table>
    </body>
</html>