<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <title>lista de Departamentos</title>
    </head>
    <body class="container">
        <h2>Lista de Departamentos</h2>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/department/new'}">Nuevo Departamentos</a>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
        <table class="table table-sm">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Manager ID</th>
                <th>Location ID</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="department, info : ${lista}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${department.departmentName}">
                <td th:text="${department.managerId != null ?department.managerId:'Sin Jefe'}"></td>
                <td th:text="${department.locationId}"></td>
                <td><a class="btn btn-primary" th:href="@{'/department/edit' + '?id=' + ${department.departmentId}}">Editar</a></td>
                <td><a class="btn btn-danger" th:href="@{'/department/delete' + '?id=' + ${department.departmentId}}">Borrar</a></td>
            </tr>
        </table>
    </body>
</html>